@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.bg-overall {
    background-color: #fff;
}

body {
    font-family: 'poppins-regular', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 14px;
    line-height: 18px;
    color: #131C35;
}

.btn--primary {
  padding: 8px 30px;
  font-size: 16px;
  background-color: #1e3148;
  color: #fff;
  border-radius: 24px;
  border: 1px solid #1e3148;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: #616e7e;
}

.btn--primary-trans {
  padding: 8px 30px;
  font-size: 16px;
  background-color: transparent;
  color: #1e3148;
  border-radius: 24px;
  border: 1px solid #1e3148;
}

.btn--primary-trans:hover,
.btn--primary-trans:focus {
  background-color: #1e3148;
  color: #fff;
}

.btn--danger {
  padding: 8px 30px;
  font-size: 16px;
  background-color: #dc2626;
  color: #fff;
  border-radius: 24px;
  border: 1px solid #dc2626;
}

.btn--danger:hover,
.btn--danger:focus {
  background-color: #dc262699;
}

.btn-option:focus,
.btn-option:hover {
  background-color: #1e3148;
  color: #fff;
}

button:focus,
button:focus:not(:focus-visible),
a:focus,
input[type='checkbox']:focus,
input[type='time']:focus,
textarea:focus,
select:focus {
  outline: 2px solid #1e3148;
  outline-offset: 2px;
  box-shadow: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='time']:focus,
select:focus,
select:active,
textarea:focus {
  border: 1px solid #1e3148 !important;
}

[type='checkbox']:checked, [type='radio']:checked {
    background-color: #1e3148 !important;
}

/* start loader */
.dots-loader {
  display: inline-flex;
  gap: 6px;
  vertical-align: middle;
}

.dots-loader span {
  width: 8px;
  height: 8px;
  background: #7fcfff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(127, 207, 255, 0.8);
  animation: bounce 0.6s infinite alternate;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-6px);
    opacity: 0.6;
  }
}

button[type=submit] .dots-loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.loading[type=submit]:disabled {
  color: #ccc;
  opacity: 0.9;
  transition: all 0.3s ease;
}
/* end loader */